@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  display: grid;
  grid-template-areas: "header"  "main"  "footer";
  grid-template-rows: 12% auto 0%;
  width: 100vw;
  height: 100vh;
  font-family: Exo, monospace; }

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: repeating-linear-gradient(315deg, #262626 0px, #303030 40px, #262626 40px, #303030 80px); }
  .header nav {
    width: 30%;
    height: 100%; }
    .header nav div a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .header nav div a img {
        width: 120px;
        padding-top: 9px; }

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%; }

.mainBusqueda {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32rem;
  background-image: url(../images/pokemon-party.jpg); }

.busquedaBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.form {
  display: flex;
  border-radius: 5px;
  background-color: rgba(240, 240, 240, 0.9);
  height: 35%;
  width: 30%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center; }

#busquedaUsuario {
  width: 60%;
  height: 20%;
  border: transparent;
  border-radius: 4px; }

#btnBusqueda {
  width: 40%;
  height: 20%;
  border: transparent;
  border-radius: 4px;
  background-color: #e9692e;
  font-family: Exo, monospace; }

.descripcionBox {
  display: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

#descripcion {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
  width: 80%;
  height: 77%;
  border-radius: 5px;
  background-color: rgba(240, 240, 240, 0.9); }

#favStar {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: end; }
  #favStar .starCaja {
    display: flex;
    justify-content: center;
    width: 12%;
    height: auto; }
    #favStar .starCaja img {
      width: 60%; }

#imagenPokemon {
  border-radius: 4px;
  width: 35%;
  height: auto; }
  #imagenPokemon img {
    width: 100%; }

#caracteristicas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 92%;
  height: 30%;
  background-color: #f8f6f6;
  border-radius: 5px;
  list-style: none;
  padding-left: 0.5rem;
  padding-bottom: 0.3rem; }
  #caracteristicas li {
    display: flex;
    justify-content: flex-start;
    font-weight: bold; }
    #caracteristicas li p {
      padding-left: 4px;
      font-weight: 100; }

#listado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f0f0f0;
  width: 100%; }

.espacioUno {
  justify-self: flex-start;
  width: 13%;
  background: #fbfbfb;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #4f99ca);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #4f99ca);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.espacioDos {
  justify-self: flex-end;
  width: 13%;
  background: #2980B9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #4f99ca);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #4f99ca);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.cajaPokemones {
  width: 74%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem;
  background-color: #eae8e8; }

.listaTitulo {
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem; }
  .listaTitulo .listHead {
    align-self: flex-start;
    border-bottom: solid 1px #e9692e;
    width: 50%; }

#listaPoke {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: auto;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  background-color: #eae8e8;
  height: auto; }

#cargaMas {
  display: none;
  width: 30%;
  font-family: Exo, monospace;
  background-color: #e9692e;
  border: transparent;
  border-radius: 5px;
  height: 1.8rem;
  margin-top: 1rem; }

.pokeCard {
  display: flex;
  flex-direction: column;
  background-color: #f3efef;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  justify-content: space-evenly;
  width: 100%;
  height: 10rem;
  padding-top: 0.5rem; }
  .pokeCard:hover {
    transform: scale(1.02); }
  .pokeCard .imgPeque {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .pokeCard .imgPeque img {
      width: 45%; }
  .pokeCard .nombrePeque {
    width: 100%;
    height: 20%;
    font-family: Exo, monospace;
    font-size: 0.8rem;
    text-align: center; }

@media only screen and (max-width: 500px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  .busquedaBox {
    border: solid 1px red;
    height: 50%;
    width: 100%; }
  .descripcionBox {
    height: 50%;
    width: 100%; }
  .form {
    width: 60% !important;
    height: 60%;
    font-size: 0.7rem; }
  .mainBusqueda {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  #descripcion {
    width: 70%;
    font-size: 10px;
    height: 43% !important; }
  #caracteristicas {
    height: 40%;
    font-size: 0.6rem; }
    #caracteristicas li {
      height: 10%; }
  #imagenPokemon {
    width: 30% !important; } }

@media only screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  .busquedaBox {
    height: 50%;
    width: 100%; }
  .descripcionBox {
    height: 50%;
    width: 100%; }
  .form {
    width: 67% !important;
    height: 50%;
    font-size: 0.8rem; }
  /* .mainBusqueda {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    } */
  #descripcion {
    width: 85%;
    font-size: 10px;
    height: 50%; }
  #caracteristicas {
    height: 38%;
    font-size: 0.7rem; }
    #caracteristicas li {
      height: 10%; }
  #imagenPokemon {
    width: 40%; } }

.footer {
  grid-area: footer;
  /*
    background: repeating-linear-gradient(315deg,
    #262626 0px,
    #292929 40px,
    #262626 40px,
    #292929 80px); */ }
