@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 12% auto 7%;
  width: 100vw;
  height: 100vh;
  font-family: Exo, monospace;
  background-image: url(../images/fondo.jpg); }

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: repeating-linear-gradient(315deg, #262626 0px, #303030 40px, #262626 40px, #303030 80px); }
  .header nav {
    width: 30%;
    height: 100%; }
    .header nav div a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .header nav div a img {
        width: 120px;
        padding-top: 9px; }

.main {
  grid-area: main;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100%; }

.mainBusqueda {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.busquedaBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.form {
  display: flex;
  border-radius: 5px;
  background-color: rgba(240, 240, 240, 0.9);
  height: 30%;
  width: 40%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center; }

#busquedaUsuario {
  width: 60%;
  height: 20%;
  border: transparent;
  border-radius: 4px; }

#btnBusqueda {
  width: 40%;
  height: 20%;
  border: transparent;
  border-radius: 4px;
  background-color: #e9692e;
  font-family: Exo, monospace; }

.descripcionBox {
  display: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

#descripcion {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
  width: 80%;
  height: 80%;
  border-radius: 5px;
  background-color: rgba(240, 240, 240, 0.9); }

#imagenPokemon {
  border-radius: 4px;
  width: 35%;
  height: auto; }
  #imagenPokemon img {
    width: 100%; }

#caracteristicas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 92%;
  height: 30%;
  background-color: #f8f6f6;
  border-radius: 5px;
  list-style: none;
  padding-left: 0.5rem;
  padding-bottom: 0.3rem; }
  #caracteristicas li {
    display: flex;
    justify-content: flex-start;
    font-weight: bold; }
    #caracteristicas li p {
      padding-left: 4px;
      font-weight: 100; }

.footer {
  grid-area: footer;
  /*
    background: repeating-linear-gradient(315deg,
    #262626 0px,
    #292929 40px,
    #262626 40px,
    #292929 80px); */ }
